.font-format-courier-blueviolet{
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%
    ; 
}

.font-format-courier-brown{
    color:brown;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%
    ; 
}